/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Import font */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap");

/* Root */

:root {
  font-size: 16px;
}

/* Container */

body {
  background-color: #1b263b;
}

.container {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 100vw;
}

/* Header */

header {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

header h1 {
  font-size: 2rem;
  color: white;
  font-weight: bolder;
}

.color-logo {
  padding-right: 1rem;
}

#submitButton {
  display: block;
  margin: 0 auto;
  background: white;
  color: black;
  border-radius: 0.5rem;
  font-size: 0.6rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

.addBook {
  display: flex;
  align-items: center;
  background: white;
  color: black;
  border-radius: 0.5rem;
  font-size: 0.6rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

button * {
  padding: 0.2em;
}

button:active {
  transform: translateY(2px);
}

/* Bookshelf */

.bookshelf {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.book-box {
  max-height: 270px;
  border: 1px solid white;
  max-width: 320px;
  text-align: center;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 1rem;
  background: #e0e1dd;
}

.img-box svg {
  color: white;
}

.book-box .top {
  border-radius: 0.5rem;
  background: #415a77;
}

.book-box .content {
  background: #e0e1dd;
  margin: 1em;
}

.book-box .content * {
  display: flex;
  justify-content: flex-start;
  padding: 0.4em;
}

/* Form */

button.closeForm {
  border: #000;
  background: none;
  position: fixed;
  right: 1px;
  top: 8px;
  cursor: pointer;
}

.formPopup {
  background: #e5e5e5;
  display: block;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 350px;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 3px 3.3px 2.2px rgba(0, 0, 0, 0.031),
    7.1px 7.9px 5.3px rgba(0, 0, 0, 0.044),
    13.4px 14.9px 10px rgba(0, 0, 0, 0.055),
    23.9px 26.6px 17.9px rgba(0, 0, 0, 0.066),
    44.7px 49.7px 33.4px rgba(0, 0, 0, 0.079),
    107px 119px 80px rgba(0, 0, 0, 0.11);
}

.formPopup div {
  margin-left: 1rem;
}

h1.bigTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-style: italic;
  padding: 1rem;
}

.title,
.pages,
.date,
.read,
.author {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#title,
#date,
#author {
  height: 30px;
  max-width: 200px;
  font-weight: bold;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 1px solid transparent;
}

#title::placeholder {
  font-style: italic;
}

#pages {
  height: 30px;
  max-width: 50px;
  font-weight: bold;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 1px solid transparent;
}

legend {
  font-weight: bold;
  color: black;
  margin-bottom: 0.3rem;
}

div .submit {
  margin-top: 1rem;
}
.submitButton {
  margin: 0 auto;
  padding: 0.5rem;
}

.read {
  display: inline-block;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.read label {
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: white;
  font-weight: bold;
  border-radius: 0.2rem;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

input[type="radio"]#yes:checked + label {
  background-color: #52b788;
}

input[type="radio"]#no:checked + label {
  background-color: #e63946;
}

/* Have the stars go to the right when hovered */

.rating label {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > label {
  position: relative;
  cursor: pointer;
  color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  color: #ffea00;
  font-size: 2rem;
}

.emoji {
  font-size: 2rem;
}
